﻿<form class="form-horizontal" name="surveyForm" novalidate role="form">

    <fieldset>
        <legend>Responder Encuesta</legend>

        <div class="form-group" >
            <label for="fullName" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
                <label class="control-label">{{survey.Name}}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="fullName" class="col-sm-3 control-label">Descripcion</label>
            <div class="col-sm-9">
                <label class="control-label">{{survey.Description}}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="institution" class="col-sm-3 control-label">Institución</label>
            <div class="col-sm-5">
                <label class="control-label">{{survey.InstitutionName}}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="teacher" class="col-sm-3 control-label">Profesor</label>
            <div class="col-sm-5">
                <label class="control-label">{{survey.TeacherName}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="subject" class="col-sm-3 control-label">Curso</label>
            <div class="col-sm-5">
                <label class="control-label">{{survey.SubjectName}}</label>
            </div>
        </div>

    </fieldset>
    <br />



    <fieldset>
        <legend>Preguntas</legend>
        
        <div class="form-group" ng-repeat="question in survey.Questions">
            <div class="col-sm-12">
                <label class="control-label">{{$index + 1}}.-{{question.Description}}</label>
            </div>

            <div class="col-sm-10 btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn btn-default" ng-model="survey.Questions[$index].score" btn-radio="1">1.- Totalmente en desacuerdo</div>
                <div class="btn btn-default" ng-model="survey.Questions[$index].score" btn-radio="2">2.- En desacuerdo</div>
                <div class="btn btn-default" ng-model="survey.Questions[$index].score" btn-radio="3">3.- De acuerdo</div>
                <div class="btn btn-default" ng-model="survey.Questions[$index].score" btn-radio="4">4.- Totalmente de acuerdo</div>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Comentario</legend>

        <textarea class="form-control" rows="5" ng-model="survey.answer"></textarea>

    </fieldset>

        <div class="col-sm-offset-3 col-sm-9">
            <input type="button" class="btn btn-primary" value="Submit"
                   ng-click="saveSurvey()" />
        </div>

</form>