﻿<div class="jumbotron">
    <div class="container">
        <h1>Encuestas Limited</h1>
        <p>En esta aplicación podrás revisar opiniones sobre tus profesores y dejar una evaluación de los mismos</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>-->
    </div>
</div>



<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-5 panel panel-default">
            <div class="panel-body">
                <h4>Revisa</h4>
                <p>Revisa las encuestas que tenemos disponibles</p>
                <p ng-click="showSurveys()"><a class="btn btn-default" href="#" role="button">Revisar Encuestas</a></p>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 panel panel-default">
            <div class="panel-body">
                <h4>Crea</h4>
                <p>Crea encuestas de tus profesores actuales</p>
                <p ng-click="addSurvey()"><a class="btn btn-default" href="#" role="button">Crear Encuesta</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 panel panel-default">
            <div class="panel-body">
                <h4>Registrar Instituciones</h4>
                <p>Registrar nuevas instituciones</p>
                <p ng-click="addInstitucion()"><a class="btn btn-default" href="#" role="button">Registrar Institución</a></p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 panel panel-default">
            <div class="panel-body">
                <h4>Registrar Cursos</h4>
                <p>Registrar nuevos cursos</p>
                <p ng-click="addSubject()"><a class="btn btn-default" href="#" role="button">Registrar Curso</a></p>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 panel panel-default">
            <div class="panel-body">
                <h4>Registrar Profesores</h4>
                <p>Registrar nuevos profesores</p>
                <p ng-click="addTeacher()"><a class="btn btn-default" href="#" role="button">Registrar Profesor</a></p>
            </div>
        </div>
    </div>
</div>

