﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html ng-app="angularFormsApp">
<head>
    <base href="/" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/survey-manager/style")
    @Scripts.Render("~/bundles/survey-manager/script")
</head>

<body class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Survey Manager", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li><a href="/#/survey/index">Ver Encuestas</a></li>
                    <li><a href="/#/survey/add">Crear Encuesta</a></li>
                    <li><a href="/#/survey/assess">Responder Encuesta</a></li>


                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                
                @*@Html.Partial("_LoginPartial")*@
            </div>

        </div>
    </div>


    <br />
    <div ng-view></div>
    <hr>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</body>
</html>




