﻿<form class="form-horizontal" name="subjectForm" novalidate role="form">

    <fieldset>
        <legend>Registro de Cursos</legend>

        <div class="form-group" show-errors>
            <label for="fullName" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
                <input type="text" id="Name" name="Name" class="form-control"
                       ng-model="subject.Name" ng-required="true"
                       ng-minlength="3" ng-maxlength="20" />
                <span class="help-block"
                      ng-if="subjectForm.Name.$error.required">Subject Name is required</span>
                <span class="help-block"
                      ng-if="subjectForm.Name.$error.minlength">Minlength is 3 characters</span>
                <span class="help-block"
                      ng-if="subjectForm.Name.$error.maxlength">Maxlength is 20 characters</span>
            </div>
        </div>
    </fieldset>
    <br />

    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-primary" value="Submit"
               ng-click="saveSubject()" />
    </div>

</form>