﻿<form class="form-horizontal" name="surveyForm" novalidate role="form">

    <fieldset>
        <legend>Buscar encuestas</legend>
        <div class="form-group">
            <label for="institution" class="col-sm-3 control-label">Institución</label>
            <div class="col-sm-5">
                <select name="institution" id="institution" class="form-control"
                        ng-model="criteria.institutionSelected"
                        ng-options="i.Id as i.Name for i in criteria.institutions"
                        ng-change="loadTeachers()">
                    <option value="" disabled selected>Seleccione una institución</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="teacher" class="col-sm-3 control-label">Profesor</label>
            <div class="col-sm-5">
                <select name="teacher" id="teacher" class="form-control"
                        ng-model="criteria.teacherSelected"
                        ng-options="t.Id as t.Name for t in criteria.teachers"
                        ng-change="loadSubjects()">
                    <option value="" disabled selected>Seleccione una profesor</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="subject" class="col-sm-3 control-label">Curso</label>
            <div class="col-sm-5">
                <select name="subject" id="subject" class="form-control"
                        ng-model="criteria.subjectSelected"
                        ng-options="s.Id as s.Name for s in criteria.subjects"
                        ng-change="loadSurveys()">
                    <option value="" disabled selected>Seleccione un Curso</option>
                </select>
            </div>
        </div>

    </fieldset>
    <br />



    <fieldset>
        <legend>Resultados</legend>
        <div class="form-group">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Promedio
                    </th>
                    <th>

                    </th>                    
                </tr>

                <tr ng-repeat="row in surveys">
                    <td>{{row.Name}}</td>
                    <td>{{row.Description}}</td>
                    <td>{{row.Average}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="assessSurvey(row.Id)">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Responder
                        </button>
                    </td>                    
                </tr>

            </table>
        </div>
    </fieldset>
</form>