﻿<form class="form-horizontal" name="surveyForm" novalidate role="form">

    <fieldset>
        <legend>Registro de Encuestas</legend>

        <div class="form-group" >
            <label for="fullName" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
                <input type="text" id="Name" name="Name" class="form-control"
                       ng-model="survey.Name" ng-maxlength="20" />
            </div>
        </div>

        <div class="form-group">
            <label for="fullName" class="col-sm-3 control-label">Descripcion</label>
            <div class="col-sm-9">
                <input type="text" id="Description" name="Description" class="form-control"
                       ng-model="survey.Description" />
            </div>
        </div>

        <div class="form-group">
            <label for="institution" class="col-sm-3 control-label">Institución</label>
            <div class="col-sm-5">
                <select name="institution" id="institution" class="form-control"
                        ng-model="survey.institutionSelected"
                        ng-options="i.Id as i.Name for i in institutions">
                    <option value="" disabled selected>Seleccione una institución</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="teacher" class="col-sm-3 control-label">Profesor</label>
            <div class="col-sm-5">
                <select name="teacher" id="teacher" class="form-control"
                        ng-model="survey.teacherSelected"
                        ng-options="t.Id as t.Name for t in teachers">
                    <option value="" disabled selected>Seleccione una profesor</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="subject" class="col-sm-3 control-label">Curso</label>
            <div class="col-sm-5">
                <select name="subject" id="subject" class="form-control"
                        ng-model="survey.subjectSelected"
                        ng-options="s.Id as s.Name for s in subjects">
                    <option value="" disabled selected>Seleccione un Curso</option>
                </select>
            </div>
        </div>

    </fieldset>
    <br />



    <fieldset>
        <legend>Preguntas</legend>
        <div class="form-group">
            <label class="control-label col-md-2">Descripción</label>
            <div class="col-md-4">
                <input type="text" id="input-question" class="form-control" />
            </div>
            <div class="col-md-6">
                <input type="button" value="Agregar Pregunta" class="btn btn-default" id="add-Question" ng-click="addQuestion()" />
            </div>
        </div>

        <table class="table" id="tb_question">
            <tr>
                <th>Descripción</th>
                <th></th>
            </tr>
        </table>
    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-primary" value="Submit"
               ng-click="saveSurvey()" />
    </div>

</form>